# Database
DATABASE_URL="postgresql://username:password@localhost:5432/gptree"

# Authentication
SESSION_SECRET="your-long-random-session-secret-at-least-32-characters"

# OpenAI API
OPENAI_API_KEY="sk-your-openai-api-key-here"
